**/.DS_Store

**/.gitignore
**/.git

**/README.md
**/todo
**/test
**/mock
**/devMigrations
**/.env*guide*
**/.env*local*
**/.env*BACKUP

**/coverage
**/dist
**/node_modules
**/npm-debug.log
**/*.spec.ts

# admin
admin/yf/responseBody

# product
product/cacheBackup