[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
exchange-calendars = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
curl-cffi = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-exporter-otlp = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.15"
